<h1>admin/pages#new</h1>

<%= render 'form' %>

<% if current_user.admin? || current_user.sysadmin? %>
  <%= link_to 'Remove', admin_page_path(@page),
    method: :delete,
    class: 'btn btn-danger',
    data: {confirm: 'Remove permanently?'}
  %>
<% end %>
