<!DOCTYPE html>
<html>
<head>
  <title>Simplec</title>
  <%= stylesheet_link_tag    "simplec/application", media: "all" %>
  <%= javascript_include_tag "simplec/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
