<h1>admin/document_sets#edit</h1>

<%= render 'form' %>

<% if current_user.admin? || current_user.sysadmin? %>
  <%= link_to 'Remove', admin_document_set_path(@document_set),
    method: :delete,
    class: 'btn btn-danger',
    data: {confirm: 'Remove permanently?'}
  %>
<% end %>
